body{
  margin:16px;
}
  
  /* Styliser les boutons utilisés pour ouvrir et fermer le panneau accordéon */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

  /* Ajoute une couleur de fond au bouton si on clique dessus 
  (ajoute la classe .active avec JS), et quand on passe la souris dessus (survol) */
.active, .accordion:hover {
  background-color: #ccc;
}